.h1-2{
    color: #212353;
    font-size: 40px;
    margin-left: 380px;
}

.p-2{
    text-align: center;
    margin-right: 280px;
    margin-left: 230px;

}

p{
    color: #4B5D68;
    font-family: 'Nunito';

}

h3{
    font-family: 'Helvetica';
    color: #32668a;
}

.text-2{
    margin-right: 80px;
    
}

